@import 'common/_common.scss';
@import 'common/_header.scss';
@import 'common/_footer.scss';


// sign in section styling 
.sign-body
{
 background-image: url('../images/New\ Project.png');
 background-repeat: no-repeat;
 background-size:cover;
 width:100%;
 display: flex;
}

.sign-up-sec
{
    background-color: white;
    margin:0 auto;
    // padding:100px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.sign-up
{
    text-align: center;


    h2
    {
        line-height: 1;
        color:#0e4f66;
        padding:20px 0;
    }

    p
    {
        font-size: 13px;
        color:black;
        line-height: 1.5;
        padding: 20px 0;
    }

    button
    {
        width:230px;
    }

    .mt20
    {
        margin-top:20px;
    }
}
@media only screen and(max-width:767px)
{
    .sign-up-sec
    {
        padding:50px 0;
        width:100%;
    }
 
    .sign-up
    {
        width: 80%;
        max-width: 320px;
        h2
        {
            font-size: 16px;
        }
    }
}
@media only screen and(min-width:768px)
{.sign-up-sec
    {
        width:64.3%;
    }
    .sign-up
    {
       width:100%;
        h2
        {
            font-size: 30px;
        }
    }
}